<!DOCTYPE html>
<html lang="en">
<head>
    <script src="reportmessage.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- playground-hide -->
    <script>
      const process = { env: {} };
      process.env.GOOGLE_MAPS_API_KEY =
        "AIzaSyDrG82xST1sruaSK3RLXKlYn1x4A_1SDng";
    </script>
    <!-- playground-hide-end -->
  
</head>
<body>

    <div class="container">
        <h1><i class="fa-thin fa-building-shield"></i></h1>

        <% if(typeof alert != 'undefined') { %>
            <a href="report">Go back to resubmit</a>
            <% alert.forEach(function(error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
            <% }); %>
        <% } else  {%>
            <h2>Successfully reported!</h2>
        <% }; %>